DJANGO_SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=*

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio-admin
MINIO_SECRET_KEY=minio-admin
MINIO_BUCKET=mlops-dvc

AIRFLOW_URL=http://localhost:8080
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin123